
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed, 100);
  transition: .4s;
}

nav {
  height: var(--header-height, 3.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: #fff;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-medium, 500);
  transition: .3s;
}

.nav__logo i {
  font-size: 1rem;
}

.nav__logo:hover {
  color: var(--first-color, hsl(30, 70%, 60%));
}

@media screen and (max-width:1023px) {
  .nav__menu {
    position: fixed;
    bottom: 2rem;
    background-color: var(--container-color, hsl(30, 20%, 92%));
    box-shadow: 0 8px 24px hsla(228, 66%, 45%, .15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.3rem 3rem;
    border-radius: 1.25rem;
    transition: .4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color, hsl(30, 20%, 50%));
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }

  .nav__link i {
    font-size: 1.25rem;
  }

  .nav__link span {
    display: none;
  }
}

.scroll-header {
  background-color: var(--body-color, hsl(30, 20%, 95%));
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, .1);
}

.scroll-header .nav__logo {
  color: var(--first-color, hsl(30, 70%, 60%));
}

.scroll-header .change-theme {
  color: var(--title-color, hsl(30, 20%, 20%));
}

.active-link {
  background: linear-gradient(101deg, hsl(30, 70%, 53%), hsl(30, 70%, 47%));
  color: #fff;
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, .25);
}

.change-theme {
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

.change-theme:hover {
  color: var(--first-color, hsl(30, 70%, 60%));
}

@media screen and (min-width:1023px) {
  .nav {
    height: calc(var(--header-height, 3.5rem) + 1.5rem);
  }

  .nav__menu {
    width: initial;
    margin-left: auto;
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    color: var(--text-color-light, hsl(30, 70%, 65%));
  }

  .nav__link i {
    display: none;
  }

  .active-link {
    background: none;
    box-shadow: none;
    color: var(--first-color, hsl(30, 70%, 60%));
    font-weight: var(--font-medium, 500);
  }

  .change-theme {
    margin: 0 3rem;
    color: var(--text-color-light, hsl(30, 70%, 65%));
  }

  .scroll-header .nav__link,
  .scroll-header .change-theme {
    color: var(--text-color, hsl(30, 20%, 50%));
  }

  .scroll-header .active-link {
    color: var(--first-color, hsl(30, 70%, 60%));
  }
}